* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  text-align: start;
  background-color: white
}

h1 {
  text-align: center;
  color: black

}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.header{
  text-align: center;
  padding: 20px;
  padding-top: 15px;
  margin-right: 20px;
  font-size: 20px;
  background-image: url("../images/banner-6617550_960_720.png");
  height: 300px;
  width: 100%;
  
}

.container ul{
  text-decoration-style: none ;
}



.navbar ul li {
  display: inline-block;
  margin-left: 25px;
  
}


#aboutcontent{
  height: 300px;
  padding-bottom: 200px;
}


#content {
  margin: 0px 5%;
  display: grid;
  min-height: 200px;
  height: 70vh;
  grid-template-columns: 20% 80%;
  grid-template-rows: 33% 33% 34%;
  grid-template-areas: 
  "aboutme aboutcontent"
  "projects projectscontent"
  "contact contactcontent"
  ;
}

#projectscontent {
  margin: 0px 5%;
  height: 400px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-areas: 
  "weatherapp weatherapp"
  "caculator music"
  "caculator music"
  "caculator music"
  ;
}

#weatherapp {
  grid-area: weatherapp;
  background-image: url("../images/weastherapp.jpg");
}

#caculator {
  grid-area: caculator;
  background-image: url("../images/Calculator.gif");
}


.catagoryGridArea2 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}
